@charset "UTF-8";
/* CSS Document */


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: #ccc;
  font: bold 14px/20px;
  font-family: 'Lato', sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  }

.error-page-wrap {
  width: 310px;
  height: 310px;
  margin: 155px auto; 
 
   }
   
  .error-page-wrap:before {
    box-shadow: 0 0 200px 150px #fff;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    position: relative;
    z-index: -1;
    content: '';
    display: block; }

.error-page {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  top: -310px;
  position: relative;
  text-align: center;
  background: #000;

  }
  
  .error-page:before {
    width: 63px;
    height: 63px;
    border-radius: 50%;

    content: '';
    z-index: -1;
    display: block;
    position: relative;
    top: -19px;
    left: 44px; 
	}
	
  .error-page:after {
    width: 310px;
    height: 17px;
    margin: 0 auto;
    top: 25px;
    content: '';
    z-index: -1;
    display: block;
    position: relative;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(59%, rgba(35, 26, 26, 0)), color-stop(100%, rgba(60, 44, 44, 0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 0%, rgba(35, 26, 26, 0) 59%, rgba(60, 44, 44, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#003c2c2c',GradientType=1 ); 
	}
	
  .error-page h1 {
    color: rgba(255, 255, 255, 0.94);
    font-size: 80px;
    margin: 0px auto 0 auto;
    text-shadow: 0px 0 7px rgba(0, 0, 0, 0.5); 
	}
	
    .error-page h1:before {
      width: 260px;
      height: 1px;
      position: relative;
      margin: 0 auto;
      content: '';
      display: block;
	  }
	  
    .error-page h1:after {
      width: 260px;
      height: 1px;
      content: '';
      display: block;
      opacity: 0.2;
      margin: 0 auto;
      position: relative;
	  }
	  
  .error-page h2 {
    margin: 10px 0 10px 0;
    font-size: 35px; 
	color: #00aa9f;
	font-family: 'Amatic SC', cursive;
	}
	
    .error-page h2:before {
      width: 130px;
      position: relative;
      margin: 0 auto;
      content: '';
      display: block;
	  }
	  
    .error-page h2:after {
      width: 130px;
      height: 1px;
      content: '';
      display: block;
      opacity: 0.2;
      margin: 0 auto;
      position: relative;
	   }

.error-back {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  }
  
  .error-back:hover {
    color: #00aa9f;
	font-size: 30px;
	}
