@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");



.fc-slideshow {
	position: relative;
	width: 400px;
	height: 400px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.4), 0 0 0 10px #0CC;
	border-radius: 50%;
	margin: 0 auto;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.fc-slideshow nav {
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10000;
}

.fc-slideshow nav > div {
	position: absolute;
	height: 100%;
	top: 0;
	width: 50%;
}

.fc-slideshow nav .fc-left {
	left: 0;
}

.fc-slideshow nav .fc-right {
	right: 0;
}

.fc-slideshow nav > div span {
	height: 33%;
	width: 100%;
	position: absolute;
	left: 0;
	cursor: pointer;
}

.fc-slideshow nav > div span:first-child {
	top: 0;
}

.fc-slideshow nav > div span:nth-child(2) {
	top: 33%;
}

.fc-slideshow nav > div span:nth-child(3) {
	top: 66%;
}

.fc-slideshow nav i,
.no-csstransforms3d .fc-slideshow nav > div span {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	pointer-events: none;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.2s ease;
	-moz-backface-visibility: hidden;
	-moz-transition: all 0.2s ease;
	backface-visibility: hidden;
	transition: all 0.2s ease;
}

/* Some fallbacks */
.no-csstransforms3d .fc-slideshow nav > div span {
	z-index: 1000;
	width: 40px;
	background: rgba(0,0,0,0);
}

.no-csstransforms3d .fc-slideshow nav .fc-left span {
	left: -80px;
}

.no-csstransforms3d .fc-slideshow nav .fc-right span {
	right: -80px;
	left: auto;
}

.no-csstransforms3d .fc-slideshow nav i {
	width: 40px;
	cursor: pointer;
}

.fc-slideshow nav .fc-left i {
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	text-align: left;
}

.fc-slideshow nav .fc-right i {
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	text-align: right;
}

.fc-slideshow nav i.icon-arrow-left {
	left: 0;
}

.no-csstransforms3d .fc-slideshow nav i.icon-arrow-left {
	left: -100px;
}

.fc-slideshow nav i.icon-arrow-right {
	right: 0;
}

.no-csstransforms3d .fc-slideshow nav i.icon-arrow-right {
	right: -60px;
}

.icon-arrow-left:before, 
.icon-arrow-right:before {
	font-family: FontAwesome;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	background: #0CC;
	color: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	margin: 0 20px;
	border-radius: 20% 10% 50% 5% / 25% 10% 30% 75%;
	-webkit-font-smoothing: antialiased;
}

.icon-arrow-left:before {
	content: "\f104";
}

.icon-arrow-right:before {
	content: "\f105";
}

.csstransforms3d .fc-slideshow nav > div span:hover ~ i,
.no-csstransforms3d .fc-slideshow nav i,
.no-csstransforms3d .fc-slideshow nav > div span {
	opacity: 1;
}

.csstransforms3d .fc-slideshow nav > div span:nth-child(2):hover ~ i{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}

.csstransforms3d .fc-slideshow nav > .fc-left span:first-child:hover ~ i,
.csstransforms3d .fc-slideshow nav > .fc-right span:nth-child(3):hover ~ i {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.csstransforms3d .fc-slideshow nav > .fc-right span:first-child:hover ~ i,
.csstransforms3d .fc-slideshow nav > .fc-left span:nth-child(3):hover ~ i {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

ul.fc-slides {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.fc-slides li {
	display: none;
}

.no-js ul.fc-slides li {
	display: block;
}

.fc-flip {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.fc-flip div {
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.fc-flip .fc-back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.fc-slideshow img {
	border-radius: 50%;
}

.fc-slideshow h3 {
	position: absolute;
	color: #fff;
	top: 50%;
	margin-top: 90px;
	line-height: 50px;
	height: 50px;
	left: 80px;
	right: 80px;
	background: #0CC;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	border-radius: 20% 10% 50% 5% / 25% 10% 30% 75%;
}

.fc-overlay-light,
.fc-overlay-dark {
	opacity: 0;
}

.fc-overlay-light {
	background: rgba(255,255,255,1);
}

.fc-overlay-dark {
	background: rgba(0,0,0,1);
}

/* No JS fallback */

.no-js .fc-slideshow {
	height: auto;
	box-shadow: none;
}

.no-js .fc-slideshow h3 {
	position: relative;
	width: auto;
	height: auto;
	left: auto;
	right: auto;
	top: auto;
	margin: 5px;
}

@media screen and (max-width: 31.5em) {
	.fc-slideshow {
			width: 250px;
			height: 250px;
			margin-bottom: 3rem;
	}
		
	.fc-slideshow img  {
		width: 250px;
		height: 250px;
	}
	
	.fc-slideshow h3 {
	
		height: 25px;
		margin-top: 70px;
		font-size: 15px;
		line-height: 20px;
	}
}


/* Basic */

	body {
		background: #fff;
	}

	body, input, select, textarea {
		color: #888;
		font-family: "Lato", sans-serif;
		font-size: 16pt;
		font-weight: 400;
		line-height: 1.75em;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		border-bottom: solid 1px #e4e4e4;
		color: inherit;
		text-decoration: none;
	}

	a:hover {
			border-bottom-color: transparent;
			color: #4acaa8 !important;
	}

	strong, b {
		color: #777;
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2.25em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #777;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 0.5625em 0;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			border: 0;
			color: inherit;
			text-decoration: none;
	}


	h2 {
		font-size: 2em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.25em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-bottom: solid 2px #f4f4f4;
		margin: 2.25em 0;
	}

	hr.major {
			margin: 3.375em 0;
	}

	blockquote {
		border-left: solid 8px #e4e4e4;
		font-style: italic;
		margin: 0 0 2.25em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: #555;
		border-radius: 5px;
		color: #fff;
		font-family: "Lato", sans-serif;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		font-family: "Lato", sans-serif;
		font-size: 0.9em;
		margin: 0 0 2.25em 0;
	}

	pre code {
			-webkit-overflow-scrolling: touch;
			display: block;
			line-height: 1.5em;
			overflow-x: auto;
			padding: 1em 1.5em;
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: #aaa;
		position: relative;
		margin: 0 0 1.6875em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -0.5em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.35em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.25em;
		line-height: 1.5em;
	}

	header.major h2 {
		color: #3CC;
		font-size: 3.5em;
	}

	header.major h2 + p {
			color: #777;
			font-size: 1.75em;
			font-weight: 700;
			margin-top: -0.75em;
	}

/* Form */

	form {
		margin: 0 0 2.25em 0;
	}

	label {
		color: #777;
		display: block;
		font-size: 0.9em;
		font-weight: 700;
		margin: 0 0 1.125em 0;
	}

	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 5px;
		border: none;
		border: solid 2px #e4e4e4;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #3CC;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

	.select-wrapper:before {
			content: '\f078';
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
	}

	.select-wrapper:before {
			color: #e4e4e4;
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
	}

	.select-wrapper select::-ms-expand {
			display: none;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
			text-decoration: none;
			color: #888;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 400;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
	}

	input[type="checkbox"] + label:before,
	input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
	}

	input[type="checkbox"] + label:before,
	input[type="radio"] + label:before {
				background: #fafafa;
				border-radius: 5px;
				border: solid 2px #e4e4e4;
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
	}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
			background: #989898;
			border-color: #989898;
			color: #ffffff;
			content: '\f00c';
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
			border-color: #3CC;
	}

	input[type="checkbox"] + label:before {
		border-radius: 5px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: #aaa !important;
		font-style: italic;
		opacity: 1.0;
	}

/* Box */

	.box {
		border-radius: 5px;
		border: solid 2px #e4e4e4;
		margin-bottom: 2.25em;
		padding: 1.5em;
	}

	.box > :last-child,
	.box > :last-child > :last-child,
	.box > :last-child > :last-child > :last-child {
		margin-bottom: 0;
	}

	.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
	}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
		margin-left: 3.5em;
	}

	.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
	}

	.icon > .label {
			display: none;
	}

/* Image */

	.image {
		border-radius: 5px;
		border: 0;
		display: inline-block;
		position: relative;
	}

	.image img {
			border-radius: 5px;
			display: block;
	}

	.image.left {
			float: left;
			margin: 0 2.5em 2em 0;
			top: 0.25em;
	}

	.image.right {
			float: right;
			margin: 0 0 2em 2.5em;
			top: 0.25em;
	}

	.image.fit {
			display: block;
			margin: 0 0 2.25em 0;
			width: 100%;
	}

	.image.fit img {
				display: block;
				width: 100%;
	}

	.image.avatar {
			border-radius: 100%;
			overflow: hidden;
	}

	.image.avatar img {
				border-radius: 100%;
				display: block;
				width: 100%;
	}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2.25em 0;
		padding-left: 1.25em;
	}

	ol li {
			padding-left: 0.25em;
	}

	ul {
		list-style: disc;
		margin: 0 0 2.25em 0;
		padding-left: 1em;
	}

	ul li {
		padding-left: 0.5em;
	}

	ul.alt {
			list-style: none;
			padding-left: 0;
	}

	ul.alt li {
				border-top: solid 2px #f4f4f4;
				padding: 0.5em 0;
	}
			
	ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
	}

	ul.feature-icons {
			list-style: none;
			padding-left: 0;
	}

	ul.feature-icons li {
				text-decoration: none;
				display: inline-block;
				margin: 0 0 1.6875em 0;
				padding: 0.35em 0 0 3.5em;
				position: relative;
				width: 48%;
	}

	ul.feature-icons li:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
	}

	ul.feature-icons li:before {
					background: #3CC;
					border-radius: 100%;
					color: #ffffff;
					display: block;
					height: 2.5em;
					left: 0;
					line-height: 2.5em;
					position: absolute;
					text-align: center;
					top: 0;
					width: 2.5em;
	}

	ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
	}

	ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
	}

	ul.icons li:last-child {
					padding-right: 0 !important;
	}

	ul.icons li .icon:before {
					font-size: 1.25em;
	}

	ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
	}

	ul.actions li {
				display: inline-block;
				padding: 0 1.125em 0 0;
				vertical-align: middle;
	}

	ul.actions li:last-child {
					padding-right: 0;
	}

	ul.actions.small li {
				padding: 0 0.5625em 0 0;
	}

	ul.actions.vertical li {
				display: block;
				padding: 1.125em 0 0 0;
	}

	ul.actions.vertical li:first-child {
					padding-top: 0;
	}

	ul.actions.vertical li > * {
					margin-bottom: 0;
	}

	ul.actions.vertical.small li {
				padding: 0.5625em 0 0 0;
	}

	ul.actions.vertical.small li:first-child {
					padding-top: 0;
	}

	ul.actions.fit {
				display: table;
				margin-left: -1.125em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1.125em);
	}

	ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1.125em;
	}

	ul.actions.fit li > * {
						margin-bottom: 0;
	}

	ul.actions.fit.small {
					margin-left: -0.5625em;
					width: calc(100% + 0.5625em);
	}

	ul.actions.fit.small li {
						padding: 0 0 0 0.5625em;
	}

	dl {
		margin: 0 0 2.25em 0;
	}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2.25em 0;
		width: 100%;
	}

	table tbody tr {
			border: solid 2px #f4f4f4;
			border-left: 0;
			border-right: 0;
	}

	table tbody tr:nth-child(2n + 1) {
				background-color: #fafafa;
	}

	table td {
			padding: 0.75em 0.75em;
	}

	table th {
			color: #777;
			font-size: 0.9em;
			font-weight: 700;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
	}

	table thead {
			border-bottom: solid 4px #e4e4e4;
	}

	table tfoot {
			border-top: solid 4px #e4e4e4;
	}

	table.alt {
			border-collapse: separate;
	}

	table.alt tbody tr td {
				border: solid 2px #e4e4e4;
				border-left-width: 0;
				border-top-width: 0;
	}

	table.alt tbody tr td:first-child {
					border-left-width: 2px;
	}

	table.alt tbody tr:first-child td {
				border-top-width: 2px;
	}

	table.alt thead {
				border-bottom: 0;
	}

	table.alt tfoot {
				border-top: 0;
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #989898;
		border-radius: 5px;
		border: 0;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		height: 2.75em;
		line-height: 2.75em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background-color: #a5a5a5;
			color: #ffffff !important;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		.button:active {
			background-color: #8b8b8b;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		.button.icon {
			padding-left: 1.35em;
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		.button.icon:before {
				margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			display: block;
			margin: 0 0 1.125em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
			width: 14%;	
			left: 50%;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px #e4e4e4;
			color: #777 !important;
		}

		input[type="submit"].alt:hover,
		input[type="reset"].alt:hover,
		input[type="button"].alt:hover,
		.button.alt:hover {
				background-color: #f4f4f4;
				color: #777 !important;
		}

		input[type="submit"].alt:active,
		input[type="reset"].alt:active,
		input[type="button"].alt:active,
		.button.alt:active {
				background-color: #eaeaea;
		}

		input[type="submit"].alt.icon:before,
		input[type="reset"].alt.icon:before,
		input[type="button"].alt.icon:before,
		.button.alt.icon:before {
				color: #aaa;
		}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		.button.special {
			background-color: #3CC;
			color: #ffffff !important;
		}

		input[type="submit"].special:hover,
		input[type="reset"].special:hover,
		input[type="button"].special:hover,
		.button.special:hover {
				background-color: #5ed0b1;
		}

		input[type="submit"].special:active,
		input[type="reset"].special:active,
		input[type="button"].special:active,
		.button.special:active {
				background-color: #39c29d;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		.button.disabled,
		.button:disabled {
			background-color: #888 !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #fff !important;
			cursor: default;
			opacity: 0.25;
		}
	

/* Features */

	.features article {
		border-top: solid 3px #f4f4f4;
		margin-bottom: 2.25em;
		padding-top: 2.25em;
	}

	.features article:first-child {
			border-top: 0;
			padding-top: 0;
	}

	.features article .image {
			display: inline-block;
			padding-right: 2.5em;
			vertical-align: middle;
			width: 48%;
	}

	.features article .image img {
				display: block;
				width: 100%;
	}

	.features article .inner {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
	}

	.features article .inner > :last-child {
				margin-bottom: 0;
	}
	
/* Header */

	#header {
		background: #3CC;
		color: #d1f1e9;
		height: 100%;
		position: fixed;
		text-align: center;
		top: 0;
		width: 23em;
		right: 0;
	}

	#header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
			color: #ffffff;
	}

	#header h1 a, #header h2 a, #header h3 a, #header h4 a, #header h5 a, #header h6 a {
				color: #ffffff;
	}

	#header header p {
			color: #b6e9dc;
	}

	#header a {
			color: #d1f1e9;
	}

	#header a:hover {
				color: #ffffff !important;
	}

	#header > header {
			padding: 3em;
	}

	#header > header .avatar {
				display: block;
				margin: 0 auto 2.25em auto;
				width: 8em;
	}

	#header > header h1 {
				font-size: 3em;
				margin: 0;
	}

	#header > header p {
				color: #d1f1e9;
				font-style: italic;
				margin: 1em 0 0 0;
	}

	#header > footer {
			bottom: 0;
			left: 0;
			padding: 2em;
			position: absolute;
			width: 100%;
	}

	#header > footer .icons {
				margin: 0;
	}

	#header > footer .icons li a {
					color: #b6e9dc;
	}

	#header > nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
	}

	#header > nav ul li {
				border-top: solid 2px #0CC;
				display: block;
				padding: 0;
	}

	#header > nav ul li a {
				-moz-transition: none;
				-webkit-transition: none;
				-o-transition: none;
				-ms-transition: none;
				transition: none;
				border: 0;
				color: #ffffff !important;
				display: block;
				padding: 0.85em 0;
				text-decoration: none;
	}

	#header > nav ul li a.active {
				background: #fff;
				color: #0CC !important;
	}

	#header > nav ul li:first-child {
				border-top: 0;
	}
	
/* Wrapper */

	#wrapper {
		background: #fff;
		padding-right: 23em;
	}

/* Main */

	#main > section {
		border-top: solid 6px #f4f4f4;
	}

	#main > section > .container {
			padding: 6em 0 4em 0;
	}

	#main > section:first-child {
			border-top: 0;
	}


/* One */

	#one:before {
		background-image: url("http://placehold.it/900x200");
		background-repeat: no-repeat;
		background-size: cover;
		content: '';
		display: block;
		height: 15em;
		width: 100%;
	}


/* Two */
 
	#two:before {
		
		background-image: url("http://placehold.it/900x500");
		background-repeat: no-repeat;
		background-size: cover;
		content: '';
		display: block;
		height: 27em;
		width: 100%;
	}
	

/* Tooltip */
	.tooltip {
		display: inline;
		position: relative;
		z-index: 999;
	
	}
	
	.tooltip
	.tooltip-content {
		position: absolute;
		background: url(../images/shape1.svg) no-repeat center bottom;
		background-size: 100% 100%;
		z-index: 9999;
		width: 200px;
		bottom: 100%;
		left: 50%;
		margin-left: -100px;
		padding: 50px 30px;
		text-align: center;
		color: #fff;
		opacity: 0;
		cursor: default;
		font-size: .95em;
		line-height: 1.4;
		pointer-events: none;
		-webkit-transform: scale3d(0.1,0.2,1);
		transform: scale3d(0.1,0.2,1);
		-webkit-transform-origin: 50% 120%;
		transform-origin: 50% 120%;
		-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
		transition: opacity 0.4s, transform 0.4s;
		-webkit-transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
		transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
	}
	
	.tooltip:hover .tooltip-content {
		opacity: 1;
		pointer-events: auto;
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
	
	
/* Arrow */
	
	.tooltip-content::after {
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		left: 50%;
		margin-left: -8px;
		top: 100%;
		background: #0CC;
		-webkit-transform: translate3d(0,-60%,0) rotate3d(0,0,1,45deg);
		transform: translate3d(0,-60%,0) rotate3d(0,0,1,45deg);
			text-decoration: none;
	}
	
/*Mission, Vision, Values */
	.tool1 {
		display: inline-block;
		position: relative;
		z-index: 999;
		margin: 0 1em;
		width: 210px;

	}
	
/* Gap filler */
	.tool1::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 20px;
		bottom: 100%;
		left: 50%;
		pointer-events: none;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	
	}
	
	.tool1:hover::after {
		pointer-events: auto;

	}
	
	.tool1-content {
		position: absolute;
		z-index: 9999;
		width: 300px;
		left: 50%;
		bottom: 100%;
		font-size: 15px;
		line-height: 1.4;
		text-align: center;
		font-weight: 400;
		color: #0CC;
		background: transparent;
		opacity: 0;
		margin: 0 0 20px -150px;
		cursor: default;
		pointer-events: none;
		-webkit-font-smoothing: antialiased;
		-webkit-transition: opacity 0.3s 0.3s;
		transition: opacity 0.3s 0.3s;
	
	}
	
	.tool1:hover .tool1-content {
		opacity: 1;
		pointer-events: auto;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;

	}
	
	.tool1-content span {
		display: block;
	
	}
	
	.tool1-text {
		border-bottom: 10px solid #0CC;
		overflow: hidden;
		-webkit-transform: scale3d(0,1,1);
		transform: scale3d(0,1,1);
		-webkit-transition: -webkit-transform 0.3s 0.3s;
		transition: transform 0.3s 0.3s;
	
	}
	
	.tool1:hover .tool1-text {
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	
	}
	
	.tool1-inner {
		background: #666;
		padding: 40px;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);
		webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;

	}
	
	.tool1:hover .tool1-inner {
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);

	}
	
/* Arrow */
	
	.tool1-content::after {
		content: '';
		bottom: -20px;
		left: 50%;
		border: solid transparent;
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: transparent;
		border-top-color: #0CC;
		border-width: 10px;
		margin-left: -10px;
	}

	.rectangle {
		text-align: center;
		margin-top: 5rem;
		margin-bottom: 7rem;
	
	}
	
	.rectangle img {
		border-radius: 50%;
		
	}
	
/* Services */

	.grid2 li {
		display: inline-block;
		width: 350px;
		margin: 0;
		padding: 10px;
		text-align: left;
		position: relative;
		font-size: 1em;

	}
	
	.grid2 figure {
		margin: 0;
		position: relative;
	}
	
	.grid2 figure img {
		max-width: 100%;
		display: block;
		position: relative;
	}
	
	.grid2 figcaption {
		position: absolute;
		top: 0;
		left: 0;
		padding: 10px;
		background: #999;
		color: #3CC;
	}
	
	.grid2 figcaption h3 {
		margin: 0;
		padding: 0;
		color: #fff;
	}
	
	.grid2 figcaption a {
		text-align: center;
		padding: 5px 10px;
		border-radius: 2px;
		display: inline-block;
		background: #ed4e6e;
		color: #fff;
	} 
	
/* Individual Caption Styles */
	
	
/* Caption Style 4 */
	.cs-style-4 li {
		-webkit-perspective: 1700px;
		-moz-perspective: 1700px;
		perspective: 1700px;
		-webkit-perspective-origin: 0 50%;
		-moz-perspective-origin: 0 50%;
		perspective-origin: 0 50%;
	}
	
	.cs-style-4 figure {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	
	.cs-style-4 figure > div {
		overflow: hidden;
		
	}
	
	.cs-style-4 figure img {
		-webkit-transition: -webkit-transform 0.4s;
		-moz-transition: -moz-transform 0.4s;
		transition: transform 0.4s;
	}
	
	.no-touch .cs-style-4 figure:hover img,
	.cs-style-4 figure.cs-hover img {
		-webkit-transform: translateX(25%);
		-moz-transform: translateX(25%);
		-ms-transform: translateX(25%);
		transform: translateX(25%);
	}
	
	.cs-style-4 figcaption {
		height: 100%;
		width: 50%;
		opacity: 0;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: rotateY(-90deg);
		-moz-transform: rotateY(-90deg);
		transform: rotateY(-90deg);
		-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
		-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
		transition: transform 0.4s, opacity 0.1s 0.3s;
	}
	
	.no-touch .cs-style-4 figure:hover figcaption,
	.cs-style-4 figure.cs-hover figcaption {
		opacity: 1;
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		transform: rotateY(0deg);
		-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
		-moz-transition: -moz-transform 0.4s, opacity 0.1s;
		transition: transform 0.4s, opacity 0.1s;
	}
	
	.cs-style-4 figcaption a {
		position: absolute;
		bottom: 20px;
		right: 20px;
	}
	
	
	@media screen and (max-width: 31.5em) {
		.grid2 {
			padding: 10px 10px 100px 10px;
		}
		.grid2 li {
			width: 100%;
			min-width: 300px;
		}
	}	
	
/* Portfolio */
	.grid-gallery ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	.grid-gallery figure {
		margin: 0;
	}
	
	.grid-gallery figure img {
		display: block;
		width: 100%;
	}
	
	.grid-gallery figcaption h3 {
		margin: 0;
		padding: 0 0 0.5em;
	}
	
	.grid-gallery figcaption p {
		margin: 0;
	}
	
/* Grid style */
	.grid-wrap {
		max-width: 69em;
		margin: 0 auto;
		padding: 0 1em 1.875em;
	}
	
	.grid3 {
		margin: 0 auto;
	}
	
	.grid3 li {
		width: 25%;
		float: left;
		cursor: pointer;
	}
	
	.grid3 figure {
		padding: 15px;
		-webkit-transition: opacity 0.2s;
		transition: opacity 0.2s;
	}
	
	.grid3 li:hover figure {
		opacity: 0.7;
	}
	
	.grid3 figcaption {
		background: #e4e4e4;
		padding: 25px;
	}
	
/* Slideshow style */
	.slideshow {
		position: fixed;
		background: rgba(0,0,0,0.6);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 500;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
		transition: opacity 0.5s, visibility 0s 0.5s;
	}
	
	.slideshow-open .slideshow {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
	
	.slideshow ul {
		width: 100%;
		height: 100%;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: translate3d(0,0,150px);
		transform: translate3d(0,0,150px);
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
	}
	
	.slideshow ul.animatable li {
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
	}
	
	.slideshow-open .slideshow ul {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	
	.slideshow li {
		width: 660px;
		height: 560px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -280px 0 0 -330px;
		visibility: hidden;
	}
	
	.slideshow li.show {
		visibility: visible;
	}
	
	.slideshow li:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(255,255,255,0.8);
		-webkit-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}
	
	.slideshow li.current:after {
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
		transition: opacity 0.3s, visibility 0s 0.3s;
	}
	
	.slideshow figure {
		width: 100%;
		height: 100%;
		background: #fff;
		border: 50px solid #fff;
		overflow: hidden;
	}
	
	.slideshow figcaption {
		padding-bottom: 20px;
	}
	
	.slideshow figcaption h3 {
		font-weight: 300;
		font-size: 150%;
	}
	
/* Navigation */
	.slideshow nav span {
		position: fixed;
		z-index: 1000;
		color: #0CC;
		text-align: center;
		padding: 3%;
		cursor: pointer;
		font-size: 2.2em;
	}
	
	.slideshow nav span.nav-prev,
	.slideshow nav span.nav-next {
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	
	.slideshow nav span.nav-next {
		right: 0;
	}
	
	.slideshow nav span.nav-close {
		top: 0;
		right: 0;
		padding: 0.5em 1em;
		color: #0CC;
	}
	
	.icon:before,
	.icon:after {
		font-family: FontAwesome;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	span.nav-prev:before {
		content: "\f104";
	}
	
	span.nav-next:before  {
		content: "\f105";
	}
	
	span.nav-close:before {
		content: "\2715";
	}
	
/* Info on arrow key navigation */
	.info-keys {
		position: fixed;
		top: 10px;
		left: 10px;
		width: 60px;
		font-size: 8px;
		padding-top: 20px;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 1px;
		text-align: center;
	}
	
	.info-keys:before,
	.info-keys:after {
		position: absolute;
		top: 0;
		width: 16px;
		height: 16px;
		border: 1px solid #fff;
		text-align: center;
		line-height: 14px;
		font-size: 12px;
	}
	
	.info-keys:before {
		left: 10px;
		content: "\f104";
	}
	
	.info-keys:after {
		right: 10px;
		content: "\f105";
	}
	
	@media screen and (max-width: 60em) {

		.grid3 li {
			width: 33.3%;
		}
	
		.slideshow  {
			width: 95%;
			top: 6%;
		}

		.slideshow li {
			width: 100%;
			height: 100%;
			top: 3%;
			left: 0;
			margin: 0;
		}
	
		.slideshow li figure img {
			width: auto;
			margin: 0 auto;
			max-width: 100%;
		}
		
		.slideshow nav span {
			font-size: 1.5em;
			margin-top: 20%;
			margin-right: 21%;
			
		}
	
		.info-keys {
			display: none;
		}
	
	}
	
	@media screen and (max-width: 35em) {
		.grid3 li {
			width: 50%;
		}
	}
	
	@media screen and (max-width: 24em) {
		.grid3 li {
			width: 100%;
		}
	}
	
/* Extra Portfolio Pieces */
	.ch-grid {
	margin: 10px 0 170px 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: left;
	width: 150%;
	}

@media screen and (max-width: 60em) {
		.ch-grid {
			width: 100%;
			text-align: center;
			margin-bottom: 10rem;
		}
	}

@media screen and (max-width: 31.5em) {
		.ch-grid {
			width: 100%;
			text-align: center;
			margin-bottom: 10rem;
		}
	}


	.ch-grid:after,
	.ch-item:before {
		content: '';
		display: table;
	}
	
	.ch-grid:after {
		clear: both;
	}
	
	.ch-grid li {
		width: 220px;
		height: 220px;
		display: inline-block;
		margin: 20px;
	}
	
	.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
	}

	.ch-info-wrap, 
	.ch-info{
		position: absolute;
		width: 180px;
		height: 180px;
		border-radius: 50%;
		
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		
		-webkit-perspective: 800px;
		-moz-perspective: 800px;
		-o-perspective: 800px;
		-ms-perspective: 800px;
		perspective: 800px;
	}
	
	.ch-info-wrap {
		top: 20px;
		left: 20px;
		background: #f9f9f9 url(../images/bg.jpg);
		box-shadow: 
			0 0 0 20px rgba(255,255,255,0.2), 
			inset 0 0 3px rgba(115,114, 23, 0.8);
		
	}
	
	.ch-info {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	
	.ch-info > div {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-position: center center;
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
	}
	
	.ch-info .ch-info-front {
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		-o-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		
		z-index: 100;
		box-shadow: 
			inset 2px 1px 4px rgba(0,0,0,0.1);
	}
	
	.ch-info .ch-info-back {
		background: #0CC;
	}
	
	.ch-img-1 { 
		background-image: url(http://placehold.it/220x220);
	}
	
	.ch-img-2 { 
		background-image: url(http://placehold.it/220x220);
	}
	
	.ch-img-3 { 
		background-image: url(http://placehold.it/220x220);
	}
	
	.ch-info h3 {
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 14px;
		margin: 0 25px;
		padding: 40px 0 0 0;
		height: 90px;
		text-align: center;
		text-shadow: 
			0 0 1px #fff, 
			0 1px 2px rgba(0,0,0,0.3);
	}
	
	.ch-info p {
		color: #fff;
		padding: 10px 5px;
		font-style: italic;
		margin: 0 30px;
		font-size: 12px;
		border-top: 1px solid rgba(255,255,255,0.5);
		text-align: center;
	}
	
	.ch-info p a {
		display: block;
		color: #fff;
		color: rgba(255,255,255,0.7);
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 9px;
		letter-spacing: 1px;
		padding-top: 4px;
	}
	
	.ch-info p a:hover {
		color: #fff222;
		color: rgba(255,242,34, 0.8);
	}
	
	
	.ch-item:hover .ch-info-front {
		-webkit-transform: rotate3d(1,0,0,-180deg);
		-moz-transform: rotate3d(1,0,0,-180deg);
		-o-transform: rotate3d(1,0,0,-180deg);
		-ms-transform: rotate3d(1,0,0,-180deg);
		transform: rotate3d(1,0,0,-180deg);
		
		box-shadow: 
			inset 0 0 5px rgba(255,255,255,0.2), 
			inset 0 0 3px rgba(0,0,0,0.3);
	}
	
	.ch-item:hover .ch-info-back {
		background: rgba(230,132,107,0.6);
	}	
	
/* Footer */

	#footer {
		background: #fafafa;
		border-top: 0;
		color: #c0c0c0;
		overflow: hidden;
		padding: 4em 0 2em 0;
	}

	#footer .copyright {
		line-height: 1em;
		list-style: none;
		padding: 0;
	}

	#footer .copyright li {
		border-left: solid 1px #d4d4d4;
		display: inline-block;
		font-size: 0.8em;
		margin-left: 1em;
		padding-left: 1em;
	}

	#footer .copyright li:first-child {
		border-left: 0;
		margin-left: 0;
		padding-left: 0;
	}

	#footer .copyright li a {
		color: inherit;
	}
				
	